
{{ $works := .Site.Data.works }}

<section class="blue">
    <h2 class="heading">{{ $works.title }}</h2>

    <div class="row">

      {{ range $index, $element := $works.works }}

      <div class="col-lg-4 col-md-4 col-12 mb-3">
          <div class="card p-4">
            <a class="mb-3" href="{{ $element.link }}">
              <div class="featuredImage rounded" style="background-size:cover;background-position:center;background-image: url('{{ .Site.BaseURL }}images/{{ $element.cover }}'); height: 180px;background-color:#fbfbfb;">
              </div>
            </a>

            <a href="{{ $element.link }}"><h3 class="h4 font-weight-bold text-dark">{{ $element.title }}</h3></a>

            <div>
              <div class="float-right">
              </div>
            </div>
          </div>
      </div>
      {{ end }}
    </div>

    <div class="text-center mt-5">
      <a href="{{ "/portfolio.html" | relURL }}" class="btn btn-lg btn-dark-faded">Browse all</a>
    </div>
  </section>
